#Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center; }
  #Modal > .modal {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10; }
  #Modal > .modal > .modal-header {
    display: flex;
    height: 32px;
    padding: 15px 0; }
  #Modal > .modal > .modal-header > i {
    align-self: center;
    font-size: 1.5rem;
    margin-left: 15px; }
    #Modal > .modal > .modal-header > i:hover {
      cursor: pointer;
      opacity: 0.8; }
  #Modal > .modal > .filter-container {
    display: none;
    padding: 15px 30px; }
  #Modal > .modal > .filter-container > h3 {
    margin: 0;
    margin-bottom: 5px; }
  #Modal > .modal > .create-container {
    display: none;
    padding: 15px 30px; }
  #Modal > .modal > .create-container > h3 {
    margin: 0;
    margin-bottom: 5px; }
  #Modal > .modal > .create-container > form {
    text-align: center; }
  #Modal > .modal > .create-container > form > input {
    display: block; }
  #Modal > .modal > .create-container > form > button {
    width: 100%;
    color: white;
    background-image: linear-gradient(-90deg, #2F80ED, #56CCF2); }
  #Modal > .modal > .goal-container {
    display: none;
    padding: 15px 30px; }
  #Modal > .modal > .goal-container > h3 {
    margin: 0;
    margin-bottom: 5px; }
  #Modal > .modal > .goal-container > i {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 3rem;
    color: #b6b6b6; }
  #Modal > .modal > .goal-container > span {
    display: block;
    text-align: center; }

#Switch-forms {
  margin: 0 auto;
  display: none;
  /* Rounded sliders */ }
  #Switch-forms > i {
    align-self: center;
    margin: 0 5px; }
  #Switch-forms > span {
    align-self: center;
    font-size: 0.75rem;
    color: #b6b6b6; }
  #Switch-forms > .switch-actived {
    color: #2F80ED; }
  #Switch-forms > .switch-deactived {
    color: #dfdfdf; }
  #Switch-forms > .switch {
    align-self: center;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px; }
  #Switch-forms > .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  #Switch-forms > .switch > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    margin: 4px; }
    #Switch-forms > .switch > .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 1px;
      bottom: 1px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
  #Switch-forms input:checked + .slider {
    background-image: linear-gradient(-90deg, #2F80ED, #56CCF2); }
  #Switch-forms input:hover + .slider {
    box-shadow: 0 0 1px #2F80ED; }
  #Switch-forms input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px); }
  #Switch-forms > .switch > .slider.round {
    border-radius: 34px; }
    #Switch-forms > .switch > .slider.round:before {
      border-radius: 50%; }

@media screen and (min-width: 768px) {
  #Modal > .overlay {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    opacity: 0.8; }
  #Modal > .modal {
    border-radius: 10px;
    box-shadow: 0 2px 5px #757575;
    max-height: 500px;
    max-width: 600px; }
  #Switch-forms {
    display: flex; } }
