#ActionMenu {
  transition: .3s;
  z-index: 3;
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: 52px;
  height: 52px;
  border-radius: 25px;
  text-align: center;
  color: white;
  line-height: 52px;
  box-shadow: 0 3px 5px #b6b6b6;
  background-image: linear-gradient(-90deg, #FF9800, #fc4a1a); }

#BtnCreateTask {
  transition: .3s;
  z-index: 2;
  position: absolute;
  bottom: 32px;
  right: 38px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  color: white;
  line-height: 40px;
  box-shadow: 0 3px 5px #b6b6b6;
  background-image: linear-gradient(-90deg, #2F80ED, #56CCF2); }
  #BtnCreateTask > span {
    transition: .1s;
    opacity: 0.8;
    border-radius: 8px;
    width: 0;
    background-color: #212121;
    font-size: 0.75rem;
    position: absolute;
    right: 60px; }

#BtnCreateGoal {
  transition: .3s;
  z-index: 2;
  position: absolute;
  bottom: 32px;
  right: 38px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  color: white;
  line-height: 40px;
  box-shadow: 0 3px 5px #b6b6b6;
  background-image: linear-gradient(-90deg, #2F80ED, #56CCF2); }
  #BtnCreateGoal > span {
    transition: .1s;
    opacity: 0.8;
    border-radius: 8px;
    width: 0;
    background-color: #212121;
    font-size: 0.75rem;
    position: absolute;
    right: 60px; }

@media screen and (min-width: 768px) {
  #ActionMenu, #BtnCreateGoal, #BtnCreateTask {
    display: none; } }
