<div id="Forgot-Form">
    <div>
        <div class="topbar-modal">
            <i ui-sref="login" class="fas fa-times"></i>
        </div>
        <div class="logo-container">
            <img ng-src="{{vm.logoUrl}}" alt="">
        </div>
        <form action="" class="forgot-container" name="forgotPassword">
            <p>
                Enter your email so we can send you a new password.
            </p>
            <div class="input-container">
                <i ng-if="forgotPassword.emailForgot.$touched && forgotPassword.emailForgot.$invalid" class="icon-error fas fa-exclamation-triangle"></i>
                <i ng-if="forgotPassword.emailForgot.$touched && forgotPassword.emailForgot.$valid" class="icon-success fas fa-check"></i>
                <input type="email" name="emailForgot" placeholder="Email" ng-model="vm.emailForgot" required>
            </div>

            <button type="submit">Recover Password</button>
        </form>
    </div>
</div>