#Forgot-Form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #Forgot-Form > div {
    flex: 0 0 100%;
    max-width: 100%; }
  #Forgot-Form > div > .logo-container {
    text-align: center;
    margin: 30px 0; }
  #Forgot-Form > div > .logo-container > img {
    width: 300px; }
  #Forgot-Form > div > .forgot-container {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #Forgot-Form > div > .forgot-container > * {
    flex: 0 0 100%;
    max-width: 250px; }
  #Forgot-Form > div > .forgot-container > p {
    text-align: center; }
  #Forgot-Form > div > .forgot-container > button {
    color: white;
    background-image: linear-gradient(-90deg, #E91E63, #bc4e9c); }

@media screen and (min-width: 768px) {
  #Forgot-Form > div > .topbar-modal > i {
    margin-left: 25px;
    font-size: 3rem; }
  #Forgot-Form > div > .forgot-container > * {
    flex: 0 0 100%;
    max-width: 300px; } }
