<div id="Register-Form">
    <div>
        <ui-view name="navbar-modal"></ui-view>

        <div class="logo-container">
            <img ng-src="{{vm.logoUrl}}" alt="">
        </div>

        <form ng-submit="vm.onClick_createUser()" class="register-container" name="registerForm" novalidate>
            <p ng-if="vm.formValid">Create a new user!</p>
            <p ng-if="!vm.formValid" class="erro-msg">Form is not valid! Fill in the information correctly</p>

            <div class="input-container">
                <i ng-if="registerForm.nameRegister.$touched && registerForm.nameRegister.$invalid" class="icon-error fas fa-exclamation-circle"></i>
                <i ng-if="registerForm.nameRegister.$touched && registerForm.nameRegister.$valid" class="icon-success fas fa-check"></i>
                <input type="text" name="nameRegister" placeholder="Name" ng-model="vm.nameRegister" required>
            </div>

            <div class="input-container">
                <i ng-if="registerForm.emailRegister.$touched && registerForm.emailRegister.$invalid" class="icon-error fas fa-exclamation-circle"></i>
                <i ng-if="registerForm.emailRegister.$touched && registerForm.emailRegister.$valid" class="icon-success fas fa-check"></i>
                <input type="email" name="emailRegister" placeholder="Email" ng-model="vm.emailRegister" required>
            </div>

            <div class="input-container">
                <i ng-if="registerForm.passwordRegister.$touched && registerForm.passwordRegister.$invalid" class="icon-error fas fa-exclamation-circle"></i>
                <i ng-if="registerForm.passwordRegister.$touched && registerForm.passwordRegister.$valid" class="icon-success fas fa-check"></i>
                <input type="password" name="passwordRegister" placeholder="Password" ng-model="vm.passwordRegister" required>
            </div>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>