@import "../style/colors";

#Login-Form{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  >div {
    flex: 0 0 100%;
    max-width: 100%;
  }

  >div >.logo-container {
    text-align: center;
    margin: 30px 0;
  }

  >div >.logo-container >img{
      width: 300px;
  }

  >div >.login-container {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  >div >.login-container >*{
    flex: 0 0 100%;
    max-width: 250px;
  }

  >div >.login-container >button{
    color: white;
    background-image: $gradient-pink;
  }

  >div >.login-container >span{
    text-align: center;
    margin-bottom: 15px;
  }

  >div >.login-container >span >a{
    color: $thrid-color;
  }

  >div >.login-container >a{
    position: absolute;
    bottom: 15px;
    color: $thrid-color;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  #Login-Form{
    >.login-container >*{
      flex: 0 0 100%;
      max-width: 300px;
    }
  }
}