//Colors
$primary-color: #2F80ED;
$secondary-color: #FF9800;
$thrid-color: #E91E63;

$gradient-blue: linear-gradient(-90deg, $primary-color, #56CCF2);
$gradient-orange: linear-gradient(-90deg, $secondary-color, #fc4a1a);
$gradient-pink: linear-gradient(-90deg, $thrid-color, #bc4e9c);

$text-color: #212121;
$grey-color: #757575;
$divider-color: #BDBDBD;


