//Colors
$primary-color: #2F80ED;
$secondary-color: #FF9800;
$thrid-color: #E91E63;
$fourth-color: #45B649;

$gradient-blue: linear-gradient(-90deg, $primary-color, #56CCF2);
$gradient-orange: linear-gradient(-90deg, $secondary-color, #fc4a1a);
$gradient-pink: linear-gradient(-90deg, $thrid-color, #bc4e9c);
$gradient-green: linear-gradient(-90deg, $fourth-color, #DCE35B);

$text-color: #212121;
$grey-color: #757575;
$grey-light-color: #b6b6b6;
$grey-hyper-color: #dfdfdf;
$divider-color: #BDBDBD;
$error-color: #d50000;
$success-color: #2e7d32;


