@import "./fontSize";
@import "./colors";

*{
  scroll-behavior: smooth;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-scrolling: touch;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: $normal;
  font-family: "Noto Sans", sans-serif !important;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.toast-top-full-width{
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  html, body{
    overflow-y: hidden;
  }
}