<div id="Navbar">
    <div>
        <i class="fas fa-bars" ng-click="vm.openSide()"></i>
    </div>

    <div>
        <h5>Dashboard</h5>
    </div>

    <div>
        <i class="fas fa-bell" ng-click="vm.openNotification()"></i>
        <div></div>
    </div>
</div>

<div id="Overlay"></div>

<div id="Notification">
    <div>
        <i class="fas fa-times" ng-click="vm.closeNotification()"></i>
    </div>

    <div>
        <h3>Notification</h3>
    </div>

    <div>

    </div>
</div>

<div id="Sidenav">
    <div>
        <i class="fas fa-times" ng-click="vm.closeSide()"></i>
    </div>

    <div>
        <img src="https://media.licdn.com/dms/image/C4E03AQH4g821CJQTAA/profile-displayphoto-shrink_100_100/0?e=1564617600&v=beta&t=0_WZ1rzfXpgU62xh1kWyycQWzqZrR333dsNxEBkWfrg" alt="">
        <h3>John Vidal</h3>
    </div>

    <div>
        <a ng-class="vm.currentState.includes('dashboard') ? 'active' : ''" href="">Dashboard</a>
        <a href="">Perfil</a>
        <a href="">Metas</a>
    </div>

    <div>
        <a><i class="fas fa-sign-out-alt"></i> logout</a>
    </div>
</div>