<ui-view name="navbar"></ui-view>

<div id="Dashboard">
    <div class="info-container">
        <div class="card-chart">

        </div>
        <div class="cards-container">
            <div>
                <div class="cards card-1">
                    <span>13</span>
                    <p>overdue tasks</p>
                </div>
            </div>
            <div>
                <div class="cards card-2">
                    <span>13</span>
                    <p>Complete Tasks</p>
                </div>
            </div>
            <div>
                <div class="cards card-3">
                    <span>13</span>
                    <p>Goal in progress</p>
                </div>
            </div>
            <div>
                <div class="cards card-4">
                    <span>13</span>
                    <p>Goals achieved</p>
                </div>
            </div>
        </div>
    </div>
    <div class="task-container">
        <div class="btn-filter">
            <svg viewBox="0 0 24 24">
                <path fill="#000000" d="M6,13H18V11H6M3,6V8H21V6M10,18H14V16H10V18Z" />
            </svg>
        </div>
        <ul class="list-days">
            <li ng-if="vm.tasks.today.length">
                Today
                <ul ng-repeat="task in vm.tasks.today" class="list-task-day">
                    <li><p ng-class="task.completed ? 'task-complete' : null">{{task.name}}</p></li>
                </ul>
            </li>
            <li ng-if="vm.tasks.tomorrow.length">
                Tomorrow
                <ul ng-repeat="task in vm.tasks.tomorrow" class="list-task-day">
                    <li><p ng-class="task.completed ? 'task-complete' : null">{{task.name}}</p></li>
                </ul>
            </li>
            <li ng-if="vm.tasks.month.length">
                Month
                <ul ng-repeat="task in vm.tasks.month" class="list-task-day">
                    <li><p ng-class="task.completed ? 'task-complete' : null">{{task.name}}</p></li>
                </ul>
            </li>
        </ul>
    </div>
</div>