@import "../style/colors";
@import "../style/fontSize";

#Dashboard{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 70px;

  >div{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  >.info-container >.cards-container {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-style: auto;
    overflow-x: scroll;
    scroll-snap-type: both mandatory;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  >.info-container >.cards-container >div {
    scroll-snap-align: start;
    display: inline-block;
    width: 100%;
  }

  >.info-container >.cards-container >div >.cards {
    padding: 20px;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    color: white;
    height: 90px;
  }

  >.info-container >.cards-container >div >.card-1 {
    background-image: $gradient-pink;
  }

  >.info-container >.cards-container >div >.card-2 {
    background-image: $gradient-blue;
  }

  >.info-container >.cards-container >div >.card-3 {
    background-image: $gradient-pink;
  }

  >.info-container >.cards-container >div >.card-4 {
    background-image: $gradient-blue;
  }

  >.info-container >.cards-container >div >.cards >span{
    font-size: $big;
    font-weight: bold;
  }

  >.info-container >.cards-container >div >.cards >p{
    text-transform: uppercase;
    margin: 0;
  }

  >.task-container >.btn-filter {
    text-align: right;
  }

  >.task-container >.btn-filter >svg {
    width:24px;
    height:24px;
    text-align: right;
    padding-right: 20px;

    &:hover{
      opacity: 0.8;
      cursor: pointer;
    }
  }

  >.task-container >.list-days {
    font-size: $normal;
    list-style: none;
    font-weight: bold;
    padding-left: 30px;
  }

  >.task-container >.list-days >li {
    margin-bottom: 20px;
  }

  >.task-container >.list-days >li >.list-task-day{
    list-style: none;
    font-weight: normal;
    padding-left: 20px;
  }

  >.task-container >.list-days >li >.list-task-day >li {
    margin-bottom: 10px;

    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }

    &:first-child{
      margin-top: 10px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  >.task-container >.list-days >li >.list-task-day >li >.task-complete {
    text-decoration: line-through $thrid-color;
  }
}

@media screen and (min-width: 768px) {
  #Dashboard{
    >div {
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    >.info-container >.cards-container {
      overflow-x: initial;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: 5px;
    }

    >.info-container >.cards-container >div {
      flex: 0 0 50%;
      max-width: 50%;
    }

    >.info-container >.cards-container >div >.card-1, >.info-container >.cards-container >div >.card-2, >.info-container >.cards-container >div >.card-3, >.info-container >.cards-container >div >.card-4 {
      background-image: none;
      background-color: white;
      box-shadow: 0 0 5px $grey-light-color;
      color: $text-color;
    }

    >.task-container >.btn-filter >svg {
      width: 32px;
      height: 32px;
    }
  }
}