#Dashboard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 70px; }
  #Dashboard > div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px; }
  #Dashboard > .info-container > .chart-container {
    display: none; }
  #Dashboard > .info-container > .cards-container {
    width: 100%;
    height: 136px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-style: auto;
    overflow-x: scroll;
    scroll-snap-type: both mandatory; }
    #Dashboard > .info-container > .cards-container::-webkit-scrollbar {
      display: none; }
  #Dashboard > .info-container > .cards-container > div {
    scroll-snap-align: start;
    display: inline-block;
    width: 100%; }
  #Dashboard > .info-container > .cards-container > div > .cards {
    padding: 20px;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    color: white;
    height: 90px; }
  #Dashboard > .info-container > .cards-container > div > .card-1 {
    background-image: linear-gradient(-90deg, #FF9800, #fc4a1a); }
  #Dashboard > .info-container > .cards-container > div > .card-2 {
    background-image: linear-gradient(-90deg, #2F80ED, #56CCF2); }
  #Dashboard > .info-container > .cards-container > div > .card-3 {
    background-image: linear-gradient(-90deg, #E91E63, #bc4e9c); }
  #Dashboard > .info-container > .cards-container > div > .card-4 {
    background-image: linear-gradient(-90deg, #45B649, #DCE35B); }
  #Dashboard > .info-container > .cards-container > div > .cards > i {
    display: block;
    font-size: 2rem;
    margin: 10px 0; }
  #Dashboard > .info-container > .cards-container > div > .cards > p {
    display: block;
    text-transform: uppercase;
    margin: 0; }
  #Dashboard > .task-container > .menu-action {
    text-align: right; }
  #Dashboard > .task-container > .menu-action > .btn-add {
    display: none; }
  #Dashboard > .task-container > .menu-action > .btn-filter {
    display: inline-block; }
  #Dashboard > .task-container > .menu-action > .btn-filter > i {
    display: none; }
  #Dashboard > .task-container > div > .btn-filter > svg {
    width: 24px;
    height: 24px;
    text-align: right;
    padding-right: 20px; }
  #Dashboard > .task-container > .list-days {
    font-size: 1rem;
    list-style: none;
    font-weight: bold;
    padding-left: 30px; }
    #Dashboard > .task-container > .list-days::-webkit-scrollbar {
      width: 10px; }
    #Dashboard > .task-container > .list-days::-webkit-scrollbar-thumb {
      background: linear-gradient(-90deg, #2F80ED, #56CCF2);
      border-radius: 10px; }
  #Dashboard > .task-container > .list-days > li {
    margin-bottom: 20px; }
  #Dashboard > .task-container > .list-days > li > h3 {
    background-color: white;
    position: sticky;
    top: 58px;
    margin: 0; }
  #Dashboard > .task-container > .list-days > li > .list-task-day {
    list-style: none;
    font-weight: normal;
    padding-left: 20px; }
  #Dashboard > .task-container > .list-days > li > .list-task-day > li {
    margin-bottom: 10px; }
    #Dashboard > .task-container > .list-days > li > .list-task-day > li:hover {
      cursor: pointer;
      opacity: 0.8; }
    #Dashboard > .task-container > .list-days > li > .list-task-day > li:first-child {
      margin-top: 10px; }
    #Dashboard > .task-container > .list-days > li > .list-task-day > li:last-child {
      margin-bottom: 0; }
  #Dashboard > .task-container > .list-days > li > .list-task-day > li > .task-complete {
    text-decoration: line-through #E91E63; }

@media screen and (min-width: 768px) {
  #Dashboard > div {
    display: block; }
  #Dashboard > .info-container > .chart-container {
    width: 100%;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 3px; }
  #Dashboard > .info-container > .chart-container > .card-chart {
    width: initial;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 5px #b6b6b6;
    border-radius: 10px; }
  #Dashboard > .info-container > .chart-container > .card-chart > h3 {
    margin: 0; }
  #Dashboard > .info-container > .chart-container > .card-chart > .charts-container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
  #Dashboard > .info-container > .chart-container > .card-chart > .charts-container > div {
    flex: 0 0 14.28%;
    max-width: 14.28%; }
  #Dashboard > .info-container > .chart-container > .card-chart > .charts-container > div > h4 {
    text-align: center;
    text-transform: uppercase; }
  #Dashboard > .info-container > .chart-container > .card-chart > .charts-container > div > .progress {
    height: 200px;
    width: 25px;
    background-color: #dfdfdf;
    border-radius: 25px;
    margin: 0 auto;
    display: grid; }
  #Dashboard > .info-container > .chart-container > .card-chart > .charts-container > div > .progress > .progress-bar {
    align-self: end;
    border-radius: 25px;
    height: 25%;
    float: left;
    width: 100%;
    position: relative;
    background-image: linear-gradient(-90deg, #2F80ED, #56CCF2); }
  #Dashboard > .info-container > .cards-container {
    overflow-x: initial;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #Dashboard > .info-container > .cards-container > div {
    flex: 0 0 25%;
    max-width: 25%; }
  #Dashboard > .info-container > .cards-container > div > .card-1, #Dashboard > .info-container > .cards-container > div > .card-2, #Dashboard > .info-container > .cards-container > div > .card-3, #Dashboard > .info-container > .cards-container > div > .card-4 {
    box-shadow: 0 0 5px #b6b6b6;
    border-radius: 10px; }
  #Dashboard > .task-container > .list-days {
    overflow-y: auto;
    max-height: 480px; }
  #Dashboard > .task-container > .list-days > li > h3 {
    top: 0; }
  #Dashboard > .task-container > .menu-action {
    padding: 0 20px; }
  #Dashboard > .task-container > .menu-action > .btn-add {
    display: inline-block; }
  #Dashboard > .task-container > .menu-action > .btn-filter {
    display: inline-block; }
  #Dashboard > .task-container > .menu-action > .btn-add > i {
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #b6b6b6;
    color: white;
    cursor: pointer; }
    #Dashboard > .task-container > .menu-action > .btn-add > i:hover {
      background-image: linear-gradient(-90deg, #FF9800, #fc4a1a);
      box-shadow: 0 0 5px #b6b6b6; }
  #Dashboard > .task-container > .menu-action > .btn-filter > i {
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #b6b6b6;
    color: white;
    cursor: pointer;
    display: block; }
    #Dashboard > .task-container > .menu-action > .btn-filter > i:hover {
      background-image: linear-gradient(-90deg, #2F80ED, #56CCF2);
      box-shadow: 0 0 5px #b6b6b6; }
  #Dashboard > .task-container > div > .btn-filter > svg {
    display: none; } }

@media screen and (min-width: 1290px) {
  #Dashboard > .task-container > .list-days {
    max-height: 580px; } }
