<ui-view name="navbar"></ui-view>

<ui-view name="actionMenu"></ui-view>

<ui-view name="modal"></ui-view>

<div id="Dashboard">
    <div class="info-container">
        <div class="cards-container">
            <div>
                <div class="cards card-1">
                    <i class="fas fa-exclamation-circle"></i>
                    <p><b>13</b> Overdue tasks</p>
                </div>
            </div>
            <div>
                <div class="cards card-2">
                    <i class="fas fa-check-circle"></i>
                    <p><b>14</b> Complete Tasks</p>
                </div>
            </div>
            <div>
                <div class="cards card-3">
                    <i class="fas fa-star-half-alt"></i>
                    <p><b>14</b> Goals in progress</p>
                </div>
            </div>
            <div>
                <div class="cards card-4">
                    <i class="fas fa-star"></i>
                    <p><b>15</b> Goals achieved</p>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <div class="card-chart">
                <h3>Weekly Progress</h3>
                <div class="charts-container">
                    <div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <h4>m</h4>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <h4>t</h4>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <h4>w</h4>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <h4>t</h4>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <h4>f</h4>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <h4>s</h4>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <h4>s</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="task-container">
        <div class="menu-action">
            <div class="btn-add" ng-click="vm.onClick_openModal('create-container')">
                <i class="fas fa-plus"></i>
            </div>
            <div class="btn-filter" ng-click="vm.onClick_openModal('filter-container')">
                <i class="fas fa-filter"></i>
                <svg viewBox="0 0 24 24">
                    <path fill="#000000" d="M6,13H18V11H6M3,6V8H21V6M10,18H14V16H10V18Z" />
                </svg>
            </div>
        </div>

        <div class="create-task" ng-if="!vm.task">
            <i class="far fa-calendar-plus"></i>
            <h1>Create some task!</h1>
        </div>

        <ul class="list-days" ng-if="vm.task">
            <li ng-if="vm.tasks.today.length">
                <h3>Today</h3>
                <ul class="list-task-day">
                    <li ng-repeat="task in vm.tasks.today"><p ng-class="task.completed ? 'task-complete' : null">{{task.name}}</p></li>
                </ul>
            </li>
            <li ng-if="vm.tasks.tomorrow.length">
                <h3>Tomorrow</h3>
                <ul class="list-task-day">
                    <li ng-repeat="task in vm.tasks.tomorrow"><p ng-class="task.completed ? 'task-complete' : null">{{task.name}}</p></li>
                </ul>
            </li>
            <li ng-if="vm.tasks.month.length">
                <h3>Month</h3>
                <ul class="list-task-day">
                    <li ng-repeat="task in vm.tasks.month"><p ng-class="task.completed ? 'task-complete' : null">{{task.name}}</p></li>
                </ul>
            </li>
        </ul>
    </div>
</div>