@import "../style/colors";
@import "../style/fontSize";
@import '../style/components/cards';

@mixin menuButton() {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: $grey-light-color;
  color: white;
  cursor: pointer;
}

#Dashboard{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 70px;

  >div{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  >.info-container >.chart-container {
    display: none;
  }

  >.info-container >.cards-container {
    width: 100%;
    height: 136px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-style: auto;
    overflow-x: scroll;
    scroll-snap-type: both mandatory;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  >.info-container >.cards-container >div {
    scroll-snap-align: start;
    display: inline-block;
    width: 100%;
  }

  >.info-container >.cards-container >div >.cards {
    padding: 20px;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    color: white;
    height: 90px;
  }

  >.info-container >.cards-container >div >.card-1 {
    background-image: $gradient-orange;
  }

  >.info-container >.cards-container >div >.card-2 {
    background-image: $gradient-blue;
  }

  >.info-container >.cards-container >div >.card-3 {
    background-image: $gradient-pink;
  }

  >.info-container >.cards-container >div >.card-4 {
    background-image: $gradient-green;
  }

  >.info-container >.cards-container >div >.cards >i{
    display: block;
    font-size: $big;
    margin: 10px 0;
  }

  >.info-container >.cards-container >div >.cards >p{
    display: block;
    text-transform: uppercase;
    margin: 0;
  }

  >.task-container >.menu-action {
    text-align: right;
  }

  >.task-container >.menu-action >.btn-add{
    display: none;
  }

  >.task-container >.menu-action >.btn-filter {
    display: inline-block;
  }

  >.task-container >.menu-action >.btn-filter >i{
    display: none;
  }

  >.task-container >div >.btn-filter >svg {
    width:24px;
    height:24px;
    text-align: right;
    padding-right: 20px;
  }

  >.task-container >.list-days {
    font-size: $normal;
    list-style: none;
    font-weight: bold;
    padding-left: 30px;
  }

  >.task-container >.list-days >li {
    margin-bottom: 20px;
  }

  >.task-container >.list-days >li >h3{
    background-color: white;
    position: sticky;
    top: 58px;
    margin: 0;
  }

  >.task-container >.list-days >li >.list-task-day{
    list-style: none;
    font-weight: normal;
    padding-left: 20px;
  }

  >.task-container >.list-days >li >.list-task-day >li {
    margin-bottom: 10px;

    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }

    &:first-child{
      margin-top: 10px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  >.task-container >.list-days >li >.list-task-day >li >.task-complete {
    text-decoration: line-through $thrid-color;
  }
}

@media screen and (min-width: 768px) {
  #Dashboard{
    >div {
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    >.info-container >.chart-container {
      display: block;
      width: 100%;
      height: 300px;
      margin-left: 5px;
      margin-bottom: 3px;
    }

    >.info-container >.chart-container >.card-chart {
      width: initial;
      height: 100%;
      padding: 20px;
      @include card();
    }

    >.info-container >.chart-container >.card-chart >h3{
      margin: 0;
    }

    >.info-container >.chart-container >.card-chart >.charts-container {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    >.info-container >.chart-container >.card-chart >.charts-container >div {
      flex: 0 0 14.28%;
      max-width: 14.28%;
    }

    >.info-container >.chart-container >.card-chart >.charts-container >div >h4{
      text-align: center;
      text-transform: uppercase;
    }

    >.info-container >.chart-container >.card-chart >.charts-container >div >.progress{
      height: 200px;
      width: 25px;
      background-color: $grey-hyper-color;
      border-radius: 25px;
      margin: 0 auto;
      display: grid;
    }

    >.info-container >.chart-container >.card-chart >.charts-container >div >.progress >.progress-bar{
      align-self: end;
      border-radius: 25px;
      height: 25%;
      float: left;
      width: 100%;
      position: relative;
      background-color: $primary-color;
    }

    >.info-container >.cards-container {
      overflow-x: initial;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: 5px;
      height: 280px;
    }

    >.info-container >.cards-container >div {
      flex: 0 0 50%;
      max-width: 50%;
    }

    >.info-container >.cards-container >div >.card-1, >.info-container >.cards-container >div >.card-2, >.info-container >.cards-container >div >.card-3, >.info-container >.cards-container >div >.card-4 {
      @include card();
    }

    >.task-container >.list-days{
      overflow-y: auto;
      max-height: 580px;
    }

    >.task-container >.list-days >li >h3{
      top: 0;
    }

    >.task-container >.menu-action {
      padding: 0 20px;
    }

    >.task-container >.menu-action >.btn-add{
      display: inline-block;
    }

    >.task-container >.menu-action >.btn-filter{
      display: inline-block;
    }

    >.task-container >.menu-action >.btn-add >i{
      transition: 0.3s;
      @include menuButton();

      &:hover{
        background-image: $gradient-orange;
        box-shadow: 0 0 5px $grey-light-color;
      }
    }

    >.task-container >.menu-action >.btn-filter >i{
      transition: 0.3s;
      @include menuButton();
      display: block;

      &:hover{
        background-image: $gradient-blue;
        box-shadow: 0 0 5px $grey-light-color;
      }
    }

    >.task-container >div >.btn-filter >svg {
      display: none;
    }
  }
}